p{
    margin: 10px 0 10px 10px;
}
p a{
    color: #000000;
}
p a:hover{
    color: orange;
}
h1{
    margin-left: 46%;
}
span{
    margin-right: 20px;
    font-size: 20px;
}
input{
    margin-left: 10px;
    width: 250px;
    height: 40px;
    font-size: 18px;
    padding-left: 5px;
}
table{
    margin: 0 auto;
}
table tr{
    margin: 10px 0;
    margin-bottom: 10px;
}

/*
密码css
*/
.update{
    width: 1629px;
    height: 755px;
    padding: 10px 0 0 10px;
}
.update p{
    margin: 10px 0 10px 10px;
}
.update p a{
    color: #000000;
}
.update p a:hover{
    color: orange;
}
.pwd{
    margin-left: 39%;
}
.pwd span{
    margin-right: -19px;
    margin-bottom: 20px;
    font-size: 20px;
}
.pwd input{
    width: 250px;
    height: 40px;
}
.pwd span , .pwd input{
    margin-bottom: 10px;
}
.buttons{
    margin-left: 47%;
}
.buttons input{
    margin-right: 50px;
    width: 65px;
    height: 30px;
    color: white;
    background-color: orange;
    border: 0;
    border-radius: 10%;
}
